<!DOCTYPE html>
<html>
  <head>    
  </head>




  <body>
	<a href="index.php"></a>    	
	<a href="ValveOn.py"></a> 


	<input type="button" id='script' name="scriptbutton" value=" valve off" onclick="goPython()">
	<input type="button" id='script' name="scriptbutton" value=" ValveOn 60min" onclick="goPython2()">
	<input type="button" id='script' name="scriptbutton" value=" ValveOn 30sec " onclick="goPython3()">    
	 <input type="button" id='script' name="scriptbutton" value=" clear log" onclick="goPython4()">


<h1>GPIO Status</h1>
    <p>Status of GPIO Pin 17: <span id="gpio_status"></span></p>
    <script>
        function getStatus() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    document.getElementById('gpio_status').innerText = xhr.responseText.trim();
                }
            };
            xhr.open('GET', 'gpio_status.py', true);
            xhr.send();
        }
        setInterval(getStatus, 1000); // Update status every second
        getStatus(); // Initial call to get status
    </script>


<div id="list">
  <p><iframe src="log.txt" frameborder="0" height="400"
      width="95%"></iframe></p>
</div>


<script src="jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function goPython(){
            $.ajax({
              url: "valveoff.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>
<script>
        function goPython2(){
            $.ajax({
              url: "ValveOn60min.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>
  
<script>
        function goPython3(){
            $.ajax({
              url: "ValveOn.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>

<script>
        function goPython4(){
            $.ajax({
              url: "clearlog.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>


</body>
</html>
